body {
    font-family: 'Coming Soon', cursive;

}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.black {
    color: black;
}

.grey {
    color: gray;
}

/*texte en couleur rose */

.pink {
    color: pink;
}